
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}
#string-wrapper{
    width: 800px;
    height: 250px;
    max-width: auto;
    background-color: brown;
}
    